/META.yml
/META.json
/MYMETA.json
/MYMETA.yml
CVS/
blib*
Makefile
Makefile.old
Build
_build*
.build/
pm_to_blib*
cover_db
*.swp
/MANIFEST
MANIFEST.bak
MANIFEST.SKIP.bak
.prove
core
/inc/
local/
CIBH-*.tar.gz
CIBH-*/
