$config = {
  'hoss' => {
    'Serial0.0.in' => {
      'desc' => 'sl-gw13-kc Serial2/1/0/28:0 PL374992/45190867-O',
      'max' => '1536000',
      'iface' => 'Serial0.0',
      'addr' => undef,
      'mib' => '1.3.6.1.4.1.9.2.2.1.1.6.1',
      'prefix' => undef,
      'command' => 'GaugeAppend($hash)'
    },
    'cpu.5m' => {
      'cpuave' => 5,
      'max' => 100,
      'mib' => '1.3.6.1.4.1.9.2.1.58.0',
      'command' => 'GaugeAppend($hash)'
    },
    'Serial0.0.out' => {
      'desc' => 'sl-gw13-kc Serial2/1/0/28:0 PL374992/45190867-O',
      'max' => '1536000',
      'iface' => 'Serial0.0',
      'addr' => undef,
      'mib' => '1.3.6.1.4.1.9.2.2.1.1.8.1',
      'prefix' => undef,
      'command' => 'GaugeAppend($hash)'
    },
    'cpu.1m' => {
      'cpuave' => 1,
      'max' => 100,
      'mib' => '1.3.6.1.4.1.9.2.1.57.0',
      'command' => 'GaugeAppend($hash)'
    }
  }
};
